<input type="checkbox" id="checkbox">
<label id="icone" for="checkbox"><%= image_tag("icone.png") %> <b>Menu</b></label>
<div class="menu-lateral">
    <nav>
        <%= link_to "" do %> <!-- site_profile_products_index_path -->
             <div class="link">Dashboard</div>   
        <% end %>
        <!-- verificação de usuario e vendedor -->
        <% if current_user.status == "Vendedor" %>
          <%= link_to site_profile_products_index_path do %> 
               <div class="link">Produtos</div>   
          <% end %>
        <% else %>
          <%= link_to "#", hidden: "hidden" do %>
               <div class="link">Produtos</div>   
          <% end %>
        <% end %>
        <!-- fim -->

        <!-- verificação de o usuario e vendedor -->
        <% if current_user.status == "Vendedor" %>
          <%= link_to new_site_profile_product_path do %> 
               <div class="link">Novo produto</div> 
          <% end %>
        <% else %>
          <%= link_to "#", hidden: "hidden" do %> 
               <div class="link">Novo produto</div> 
          <% end %>
        <% end  %>
        <!-- end -->
        
        <%= link_to checkout_payments_path do %> <!-- new_site_profile_product_path -->
             <div class="link">Compras</div> 
        <% end %>
        <a href="#"></a>
        <a href="#"><div class="link">Vendas</div></a>
        

</div>