<main class="principal">
    
    <div class="container">
    <div cass="well">
        <h1 class=" text-center"><%= @products.first.category.description %></h1>
    </div>
    <% @products.each do |product| %>
        <div class="item-sec">
        <%= link_to site_product_detail_path(product) do %>
                <div class="img-item">
                    <%= image_tag product.small_image %>
                    
                    <section class="desc-item">
                        <%= product.title %>
                </div>
        <% end %>
                    <hr class="traco">
                </section>
                <div class="rod-item">
                    <div class="de">De: R$ <%= product.priceof %></div>
                    <div class="por">Por: R$ <%= product.pricefor %></div>
                    
                    <div class="botao">
                    <%= button_to 'ADICIONAR AO CARRINHO', compras_path(:product_id => product.id), class: "botao-adc"  %>
                    </div>
                    
                </div>
        </div>
        <% end %>        
    </main>