<div class="container">
<h1>Minhas vendas - Total de vendas: <%= @orders.count %></h1>
<div class="row">
<div class="col-md-12">
<table class="table table-hover">

  <thead calss="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Data da compra</th>
      <th scope="col">Titulo</th>
      <th scope="col">Valor</th>
      <th scope="col">Comprador</th>
      <th scope="col">Cupom</th>
      <th scope="col">Status</th>
      <th scope="col">Qtd</th>
      <th scope="col">Expira</th>
    </tr>
</thead>
<% @orders.each do |item| %>
  <% item.order_items.each do |orderitem| %> 
    <tbody>
      <tr>
        <td width="50px"><%= item.id %></td>
        <td width="100px"><%= image_tag orderitem.product.image, class:"image-compras" %></td>
        <td width="250px"><%= orderitem.product.title %></td>
        <td width="120px"><%= orderitem.product.pricefor %></td>
        <td width="120px"><%= orderitem.product.user.name if current_user.status == "Comprador" %></td>
        <td width="120px"><%= orderitem.cupom %></td>
        <td width="120px"><%= orderitem.status %></td>
        <td width="120px"><%= orderitem.quantity %></td>
        <td width="150px"><%= item.created_at.strftime("%d/%m/%Y as %I:%M%p") %></td>
        <td width="150px"><%= item.created_at.to_date%></td>

        
      </tr>
  </tbody>
<% end %>
<% end %>
</table>


</div>
</div>
<!--paginação alinhamento -->
