
    <!-- principal inicio -->    

          <% @products.each do |product| %>
          
            <div class="item-sec">
                <%= link_to site_product_detail_path(product.id) do %>
                    <div class="img-item ">
                        <%= image_tag product.small_image %>
                        
                        <section class="desc-item">
                            <%= product.title %>
                    </div>
                <% end %>
                        <hr class="traco">
                    </section>
                    <div class="rod-item">
                        <div class="de">De: R$ <%= product.priceof %></div>
                        <div class="por">Por: R$ <%= product.pricefor %></div>
                        <!-- alteração
                        <div class="botao">
                        <%= button_to 'ADICIONAR AO CARRINHO', compras_path(:product_id => product.id), class: "botao-adc"  %>
                        </div>
                        -->
                        <div class="botao">
                        <% if @carrinho.include?(product.id.to_s) %>
                            <%= link_to 'REMOVER DO CARRINHO', "/remover_carrinho?product_id=#{product.id}",class: "botao-rmv" %>                  
                        <% else %>
                            <%= button_to 'ADICIONAR NO CARRIHO', compras_path(:product_id => product.id), class: "botao-adc"  %>
                        <% end %>
                        </div>
                        
                    </div>
        
            </div>
        
        <% end %>
        
          
    
    

    
    