
<div id="page-wrapper">

    <div class="row">
            <div class="container-fluid">
                <h1>Teste</h1>
                <%= form_for [:backoffice, @product], html: {multpart: true} do |f| %>
                            <div class="row">
                            <div class="form-group col-xs-4">
                                <label for="exampleInputEmail1">Titulo</label>
                                <%= f.text_field :title, class: "form-control", placeholder: "Ex: Pizzaria"%>
                            </div>
                            </div>
                            
                             <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="exampleInputPassword1">Usuarios</label></br>
                                    <%= f.collection_select :user_id , User.all , :id, :email, {}, { class: "form-control"}%>
                                    
                                    <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-2">
                                    <label for="exampleInputPassword1">Situação</label></br>
                                    <%= f.select :situation , options_for_select(Product.situations.keys), {}, { class: "form-control"} %>

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="exampleInputPassword1">Empresas</label></br>
                                    <%= f.collection_select :company_id , Company.all , :id, :name, {}, { class: "form-control"}%>
                                    
                                    <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                                </div>
                            </div>
                                                           

                            <div class="row">
                                <div class="form-group col-xs-2">
                                    <label for="exampleInputPasswod1">Preço Original</label>
                                    <%= f.text_field :priceof, class: "form-control valor", placeholder: "Ex: Pizzaria"%>
                                    <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                                </div>
                                <div class="form-group col-xs-2">
                                    <label for="exampleInputPassword1">Promocional</label>
                                    <%= f.text_field :pricefor, class: "form-control valor", placeholder: "Ex: Pizzaria"%>
                                </div>        
                            </div>


                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="exampleInputPassword1">Categoria</label></br>
                                    <%= f.collection_select :category_id , Category.all , :id, :description, {}, { class: "form-control"}%>
                                    
                                    <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                                </div>
                            </div>

                            <div class="row">
                            <div class="form-group col-xs-4">
                                <label for="exampleInputFile">Imagem</label><br>
                                <%= image_tag @product.small_image, class: "thumbnail" %>
                                <p class="help-block">Example block-level help text here.</p>
                            </div>
                            </div>
                            <div class="row">
                            <div class="form-group col-xs-4">
                                <label for="exampleInputFile">File input</label>
                                <%= f.file_field :image %>
                                <p class="help-block">Example block-level help text here.</p>
                            </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="exampleInputPassword1">Descrição</label>
                                    <%= f.text_area :description, class: "form-control", placeholder: "Ex: Pizzaria" , row: 5%>
                                </div>
                            </div>
                            <div class="row">
                            <div class="form-group col-md-6">
                                
                                <%= f.submit "Salvar", class: "btn btn-default but" %>       
                            </div>
                            </div>
                    <% end %>


            </div>
    </div>
  </div>