 <div id="page-wrapper">
<div id="container">
    <div class="row">
    
<div class="container-fluid">
        
  
  <h1>Cadastro de produtos</h1>
    
    <%= form_for [:backoffice, @product], html: {multpart: true} do |f| %>

            <div class="row">
                <div class="form-group col-xs-4">
                    <label for="exampleInputEmail1">Titulo</label>
                    <%= f.text_field :title, class: "form-control", placeholder: "Ex: Pizzaria"%>
                <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"> -->
                </div>
            </div>
            
            <div class="row">
            <div class="form-group col-xs-2">
                <label for="exampleInputPasswod1">Preço Original</label>
                <%= f.text_field :priceof, class: "form-control valor", placeholder: "Ex: Pizzaria"%>
                <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
            </div>
            <div class="form-group col-xs-2">
                <label for="exampleInputPassword1">Promocional</label>
                <%= f.text_field :pricefor, class: "form-control valor", placeholder: "Ex: Pizzaria"%>
                <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
            </div>
            </div>
            <div class="row">
            <div class="form-group col-xs-2">
                <label for="exampleInputPassword1">Categoria</label></br>
                <%= f.collection_select :category_id , Category.all , :id, :description, {}, { class: "form-control"} %>
                
                <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
            </div>
            </div>
             <div class="row">
            <div class="form-group col-xs-2">
                <label for="exampleInputPassword1">Usuarios</label></br>
                <%= f.collection_select :user_id , User.all , :id, :email, {}, { class: "form-control"} %>
                
                <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
            </div>
            </div>
            <div class="row">
            <div class="form-group col-xs-2">
                <label for="exampleInputPassword1">Empresas</label></br>
                <%= f.collection_select :company_id , Company.all , :id, :name, {}, { class: "form-control"} %>
                
                <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
            </div>
            </div>
            <div class="row">
            <div class="form-group col-xs-6">
                <label for="exampleInputFile">Imagem</label><br>
                
                <% if @product.image.present? %>
                    <%= image_tag @product.image, class: "thumbnail" %>    
                <% end %>
                
                
                <p class="help-block">Example block-level help text here.</p>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-xs-4">
                <label for="exampleInputFile">File input</label>
                <!--<input type="file" id="exampleInputFile"> -->
                <%= f.file_field :image , calss: "form-control"%>
                <p class="help-block">Example block-level help text here.</p>
            </div>
            </div>
            <div class="row">          
            <div class="form-group col-xs-4">
                <label for="exampleInputPassword1">Descrição</label>
                <%= f.text_area :description, class: "form-control", placeholder: "Ex: Pizzaria", row: 5%>
                <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
            </div>
            </div>
            <div class="row">
            <div class="form-group col-md-4">
                <%= f.submit "Salvar", class: "btn btn-default" %>
            </div>
            </div>
    <% end %>


<!-- /#page-content-wrapper -->
  </div>
</div>
<!-- /#page-content-wrapper -->
</div>