<h1>Meu carrrinho</h1>
<form action="forma/pagamento" method="post">
<div class="row">
    <% if @carrinho.empty? %>
            <div class= "pull-center carrinho-vazio">
                <div class="alert alert-primary text-center aviso" role="alert"> <%= image_tag("whitecar.png")%></br><p>Seu carrinho está vazio. Continue comprando para encontrar uma oferta!</p></br>
                    <%= link_to "Continuar comprando", root_path, class: "btn btn-success continuar"  %>

                </div>
            </div>
    <% else %>
    
        <table class="table table-hover">   
            <thead calss="thead-dark">
                <tr>
                
                <th scope="col">Imagem</th>
                <th scope="col">Titulo</th>
                <th scope="col">Preço de venda</th>
                <th scope="col">Categoria</th>
                <th scope="col">User</th>
                <th scope="col">Ações</th>
                </tr>
            </thead>
                <!-- inicio do each de produtos-->
            <tbody>
                <%  @carrinho.each do |produto_hash| %>
                    <% produtos = Product.find(produto_hash["id"])  %>  
                    <tr>
                        <td width="100px"><%= image_tag produtos.image , class: "carrinho-list-image" %></td>
                        <td width="250px"><%= produtos.title %></td>
                        <td width="120px"><%= produtos.pricefor %></td>
                        <td width="150px"><%= produtos.category.description %></td>
                        <td width="150px">
                            <input type="text" name="quantidade[]" style="width:40px" placeholder="Digite a quantidade" value="<%= produto_hash["quantidade"] || 1 %>">
                            <input type="hidden" name="produto_ids[]" value="<%= produtos.id %>">
                        </td>
                        <td>
                            <%= link_to "/remover?product_id=#{produtos.id}",class: "btn btn-danger remover" do%>
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
            
        </table> 
            
            </div><!--Final da div Row-->

                <div class="row botoes-row">
                    <div class="pull-right"> 
                        <%= link_to "Continuar comprando", root_path, class: "btn btn-success continuar"  %>
                        <input type="submit" value="Finalizar Compra" class= "btn btn-danger finalizar">
                        
                    </div>
                    
            </div> 
    <% end %>
</div><!--Final da div col-m12-->    
</form>
   
             
