<!DOCTYPE html>
<html>
  <head>
    <title>Barganhaki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- css -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'profile', media: 'all'%>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    
   
    <!-- javascript-->
    <script src="/jquery.js"></script>
    <script src="/rails.js"></script> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'site', 'data-turbolinks-track': 'reload' %>

    
  </head>

<body>

    
        <%= render partial: 'layouts/profile_shared/navigation' %> 
        <%=  render partial: 'layouts/profile_shared/sidebar'%>
        <div class="container-central">
        <%= yield %>
        </div>
        

      <!-- Menu Toggle Script -->
    
</div>
</body>
  
  </body>
</html>
